.error {
  display: flex;
  height: 370px;
  padding: 8px;
  font-size: 1.1rem;
  background-color: #00bc77;
  color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  & span {
    font-size: 32px;
  }
}
.errorLink {
  text-decoration: none;
  color: #00bc77;
  margin-bottom: 20px;
}
