.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1.5rem;
  & .sign-in-icon {
    font-size: inherit;
  }
  & form {
    height: 240px;
    & .input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;
      & label {
        font-weight: bold;
      }
      & input {
        padding: 5px;
        font-size: 1.2rem;
      }
      & input:invalid {
        border: 2px solid red;
      }
    }
    & .input-remember {
      display: flex;
      & label {
        margin-left: 0.25rem;
      }
    }
    & .sign-in-button {
      display: block;
      width: 100%;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-color: #00bc77;
      background-color: #00bc77;
      color: #fff;
    }
    & span {
      margin-top: 5px;
      color: red;
    }
  }
}
