.header {
  color: #fff;
  margin-bottom: 2rem;
  & .edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
}
.invisible {
  display: none;
}
.visible {
  display: block;
}

.headerEdit {
  color: white;
  margin-bottom: 2rem;
  & .input-info {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    & input {
      height: -webkit-fill-available;
      outline: none;
    }
    & input:invalid {
      border: 2px solid red;
    }
  }
  & .button-info {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    & button {
      width: 75px;
      border-color: #00bc77;
      background-color: #00bc77;
      color: #fff;
      font-weight: bold;
    }
  }
}

@media (width<425px) {
  .headerEdit {
    & form {
      display: flex;
      flex-direction: column;
      height: 200px;
      align-items: center;
      justify-content: space-around;
      & .input-info {
        flex-direction: column;
        margin-bottom: 0;
        & input {
          height: 30px;
        }
      }
    }
  }
}
